.modal{
    position: fixed;
    right: 30px;
    top: 70px;
    width: 70vw;
    height: 200px;
    max-width: 350px;
    z-index: 23;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.164);

    form{
        width: 100%;
        
        input, button{
            width: 80%;
            margin-left: 10%;
            padding: 8px;
            border-radius: 16px;
            outline: none;
        }
        input{
            border: none;
            height: 40px;
        }
        button{
            margin-top: 15px;
            background-color: transparent;
            color: rgb(233, 213, 213);
            font-size: 18px;
            font-weight: bold;
            border: 2px solid rgb(255, 231, 231) !important;
            transition: 0.3s ease-in;
            &:hover{
                border: 2px sold transparent;
                color: white;
                background-color: rgb(39, 6, 6);
                cursor: pointer;
            }
        }
    }
    div{
        height: 100px;
        text-align: center;
        h4{
            padding: 20px 0;
            color: rgb(231, 198, 198);
        }
        button{
            background-color: transparent;
            color: rgb(224, 232, 255);
            font-size: 18px;
            font-weight: bold;
            border: 2px solid rgb(212, 226, 248) !important;
            transition: 0.3s ease-in;
            width: 100%;
            border-radius: 16px;
            padding: 8px;
            outline: none;
            &:hover{
                border: 2px sold transparent;
                color: rgb(50, 62, 235);
                background-color: rgb(213, 218, 233);
                cursor: pointer;
            }
        }
    }
}