*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:linear-gradient(rgba(114, 114, 114, 0.432), rgba(156, 156, 156, 0.185)), url('https://images.pexels.com/photos/3742639/pexels-photo-3742639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height: 120vh;
}