*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:linear-gradient(rgba(224, 218, 218, 0.774), rgba(226, 218, 218, 0.829)), url('https://images.pexels.com/photos/3742639/pexels-photo-3742639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height: 120vh;
}